.container {
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

.navcontainer {
	width: 100%;
	border-bottom: 1px solid lightgrey;
	position: fixed;
	top: 0;
}

.navbar {
	padding: 0px 10px;
	/* border: 1px solid #000; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.searchbar {
	align-self: end;
}

.navlogo {
	width: 9vw;
}

.navlogo img {
	width: 100%;
}

.authbtn {
	align-self: end;
	background-color: #00b386;
	color: #ffffff;
	height: 2.5rem;
	border: 1px solid #dddddd;
	padding: 12px 16px;
	border-radius: 8px;
}
